[submodule "workshops/phpstorm"]
	path = workshops/phpstorm
	url = https://github.com/pixelart/sc16-phpstorm.git
[submodule "workshops/httplug"]
	path = workshops/httplug
	url = https://gitlab.com/dbu/http-client-workshop.git
[submodule "workshops/sulu"]
	path = workshops/sulu
	url = https://github.com/sulu/sulu-workshop-websc16.git
[submodule "workshops/api4ez"]
	path = workshops/api4ez
	url = https://github.com/urbanetter/practical-apis.git
[submodule "workshops/headless"]
	path = workshops/headless
	url = https://github.com/janit/decoupling-ez.git
[submodule "workshops/sylius"]
	path = workshops/sylius
	url = https://github.com/dantleech/wsc-2016.git
[submodule "workshops/sylius-handouts"]
	path = workshops/sylius-handouts
	url = https://github.com/dantleech/wsc-2016-handouts.git
[submodule "workshops/forms"]
	path = workshops/forms
	url = https://github.com/webmozart/symfony-forms-workshop-websc16.git
[submodule "workshops/fieldtypes"]
	path = workshops/fieldtypes
	url = https://github.com/hknezevic/fieldtypes-websc2016.git
[submodule "workshops/lightning"]
	path = workshops/lightning
	url = https://github.com/jakzal/websc-workshop-2016.git
[submodule "workshops/nofw"]
	path = workshops/nofw
	url = https://github.com/Swader/nofw.websc.git
[submodule "workshops/oop"]
	path = workshops/oop
	url = https://github.com/Djeg/webscamp-noext-game.git
